# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [6]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anos = [1900,120,1940,1960,1980,2000,2020]

serie1 = pd.Series(dados)
serie1

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:

# seu código aqui
serie1 = pd.Series((dados), index=(anos))
serie1

1900   -0.08
120    -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie2 = pd.Series(dic_temperaturas)
serie2

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [32]:
arr = np.random.normal(100, 10, (20,3))


# seu código aqui

pd.DataFrame(arr)

             0           1           2
0    92.300014  104.747561  101.333264
1    88.708314  106.144230   91.516557
2    95.164719   93.961403   93.541031
3   100.328922   96.005240  103.775670
4    95.882310  104.746227   88.104021
5   110.621246   91.305920   84.762842
6    84.052372   84.873334   98.912167
7    99.654378  103.268630   93.773978
8   133.112486   93.581089  107.970155
9    91.477401   99.935985   95.532927
10   96.900770  109.358681   95.552985
11  120.039087  103.625315   84.713662
12   89.365703  111.684130  111.939469
13  100.911257   93.688654  103.896137
14   95.348213   85.119713   71.916537
15   84.121121   77.151156  103.068051
16  111.882390  104.194791  105.622917
17   89.760600  106.746176   90.337106
18   93.763621   98.218796   81.232388
19  105.603300   92.029525  103.078300

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [38]:
#seu código aqui
novo_indice = pd.DataFrame(arr, index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], columns=['x1', 'x2', 'x3'])
novo_indice

            x1          x2          x3
1    92.300014  104.747561  101.333264
2    88.708314  106.144230   91.516557
3    95.164719   93.961403   93.541031
4   100.328922   96.005240  103.775670
5    95.882310  104.746227   88.104021
6   110.621246   91.305920   84.762842
7    84.052372   84.873334   98.912167
8    99.654378  103.268630   93.773978
9   133.112486   93.581089  107.970155
10   91.477401   99.935985   95.532927
11   96.900770  109.358681   95.552985
12  120.039087  103.625315   84.713662
13   89.365703  111.684130  111.939469
14  100.911257   93.688654  103.896137
15   95.348213   85.119713   71.916537
16   84.121121   77.151156  103.068051
17  111.882390  104.194791  105.622917
18   89.760600  106.746176   90.337106
19   93.763621   98.218796   81.232388
20  105.603300   92.029525  103.078300

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [41]:
# seu código aqui
novo_indice['Media'] = (novo_indice['x1'] + novo_indice['x2'] + novo_indice['x3']) / 3
novo_indice

            x1          x2          x3       Media
1    92.300014  104.747561  101.333264   99.460280
2    88.708314  106.144230   91.516557   95.456367
3    95.164719   93.961403   93.541031   94.222384
4   100.328922   96.005240  103.775670  100.036611
5    95.882310  104.746227   88.104021   96.244186
6   110.621246   91.305920   84.762842   95.563336
7    84.052372   84.873334   98.912167   89.279291
8    99.654378  103.268630   93.773978   98.898996
9   133.112486   93.581089  107.970155  111.554577
10   91.477401   99.935985   95.532927   95.648771
11   96.900770  109.358681   95.552985  100.604146
12  120.039087  103.625315   84.713662  102.792688
13   89.365703  111.684130  111.939469  104.329767
14  100.911257   93.688654  103.896137   99.498683
15   95.348213   85.119713   71.916537   84.128154
16   84.121121   77.151156  103.068051   88.113442
17  111.882390  104.194791  105.622917  107.233366
18   89.760600  106.746176   90.337106   95.614627
19   93.763621   98.218796   81.232388   91.071602
20  105.603300   92.029525  103.078300  100.237042

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [47]:
# seu código aqui
const_euler = 2.71828183
novo_indice['log_med'] = novo_indice['Media']**const_euler
novo_indice

            x1          x2          x3       Media        log_med
1    92.300014  104.747561  101.333264   99.460280  269261.844222
2    88.708314  106.144230   91.516557   95.456367  240806.215047
3    95.164719   93.961403   93.541031   94.222384  232438.033031
4   100.328922   96.005240  103.775670  100.036611  273524.215518
5    95.882310  104.746227   88.104021   96.244186  246246.960280
6   110.621246   91.305920   84.762842   95.563336  241540.446568
7    84.052372   84.873334   98.912167   89.279291  200766.050776
8    99.654378  103.268630   93.773978   98.898996  265151.346147
9   133.112486   93.581089  107.970155  111.554577  367830.531880
10   91.477401   99.935985   95.532927   95.648771  242127.883720
11   96.900770  109.358681   95.552985  100.604146  277762.971846
12  120.039087  103.625315   84.713662  102.792688  294496.644511
13   89.365703  111.684130  111.939469  104.329767  306621.381801
14  100.911257   93.688654  103.896137   99.498683  269544.547199
15   95.348213   85.119713   71.916537   84.128154  170817.798708
16   84.121121   77.151156  103.068051   88.113442  193719.252225
17  111.882390  104.194791  105.622917  107.233366  330376.372481
18   89.760600  106.746176   90.337106   95.614627  241893.008253
19   93.763621   98.218796   81.232388   91.071602  211911.797847
20  105.603300   92.029525  103.078300  100.237042  275016.472566